In [5]:
import numpy as np
import pandas as pd

In [3]:
np.__version__

'1.23.3'

In [6]:
df = pd.read_csv('data.csv')

In [7]:
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [38]:
most_popular = df.groupby('Make').nunique()

In [35]:
most_popular.sort_values('Model')

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Alfa Romeo,1,2,1,1,1,1,1,1,1,1,2,1,1,1,5
Tesla,1,3,1,0,1,1,2,1,2,1,1,10,11,1,16
Bugatti,1,2,1,1,1,1,1,1,1,1,1,1,1,1,3
Spyker,1,1,1,1,1,1,1,1,1,1,2,1,1,1,2
Genesis,1,1,2,2,2,1,2,1,2,1,1,3,3,1,3
HUMMER,2,3,2,3,2,2,1,1,4,2,2,2,2,1,15
Maybach,3,3,1,4,1,1,1,1,3,1,2,1,1,1,16
McLaren,4,4,1,4,1,1,1,1,1,1,2,2,2,1,5
FIAT,5,3,3,4,2,3,3,2,5,1,4,9,9,1,53
Lotus,5,9,2,9,3,1,1,1,1,1,2,4,5,1,23
Lamborghini,6,9,1,12,2,2,2,1,2,2,2,8,8,1,34
Maserati,8,8,1,10,2,3,2,2,4,3,4,11,8,1,45
Scion,8,8,2,9,1,2,2,2,2,1,5,10,8,1,53
Saab,8,11,4,19,3,2,2,2,7,3,6,14,10,1,69
Rolls-Royce,10,7,1,5,2,1,1,2,3,1,3,4,4,1,31
Plymouth,10,9,3,12,2,2,3,3,5,3,7,15,13,1,16
Land Rover,11,16,5,11,3,2,2,2,10,3,3,12,10,1,118
Porsche,12,12,3,29,4,3,2,2,9,3,5,12,10,1,97
Aston Martin,12,11,1,13,2,3,1,2,2,3,3,7,6,1,86
Ferrari,14,14,1,16,2,3,2,1,2,3,2,7,7,1,55
Subaru,16,17,3,21,3,2,4,2,7,2,7,18,16,1,144
Suzuki,16,21,1,17,2,2,4,2,3,2,9,17,15,1,216
Kia,16,10,3,29,4,4,4,2,7,3,6,23,19,1,187
Lincoln,16,21,4,20,3,1,4,2,6,3,5,20,12,1,129
Oldsmobile,18,15,2,18,3,3,3,2,1,3,6,12,10,1,67
Acura,18,22,3,27,3,3,4,2,12,2,6,17,13,1,208
Bentley,18,12,2,16,2,1,2,2,7,2,3,10,7,1,61
Chrysler,19,23,3,27,3,3,4,2,9,3,7,15,11,1,153
Pontiac,20,19,4,39,3,3,3,3,10,3,8,19,15,1,136
Buick,20,19,4,29,3,1,3,2,10,3,6,17,14,1,156
Honda,21,20,5,31,3,3,4,2,9,3,8,28,26,1,395
Hyundai,22,19,2,40,3,3,3,3,10,3,6,22,20,1,179
Mitsubishi,22,25,4,30,5,4,4,3,7,2,10,26,21,1,140
Volvo,26,24,3,22,3,2,3,2,9,3,6,18,12,1,170
GMC,30,26,3,30,4,3,4,3,9,3,9,18,13,1,446
Cadillac,30,25,5,32,3,2,4,2,11,3,6,16,11,1,319
Mazda,31,26,4,44,2,2,4,2,10,3,11,25,18,1,329
Volkswagen,31,23,6,27,6,4,4,3,16,3,8,33,21,1,440
Nissan,32,20,4,40,4,4,4,3,12,3,13,25,24,1,426
Dodge,33,27,4,58,4,3,4,3,13,3,15,26,18,1,366
Audi,34,20,5,40,6,3,2,2,15,3,6,23,18,1,234
Infiniti,38,25,3,33,3,2,4,2,12,3,4,19,17,1,229
BMW,39,18,5,37,5,4,3,2,17,3,7,27,22,1,263
Toyota,39,22,5,43,5,4,4,3,10,3,11,30,30,1,585
Mercedes-Benz,40,21,5,56,6,4,4,3,16,3,8,26,20,1,304
Lexus,46,24,3,41,4,3,4,2,12,3,6,22,23,1,180
Ford,51,28,5,70,5,4,4,3,20,3,15,30,24,1,684
Chevrolet,63,27,7,68,6,3,4,3,13,3,16,32,27,1,934

In [16]:
df.loc[:, df.isna().any()]

,Engine Fuel Type,Engine HP,Engine Cylinders,Number of Doors,Market Category
0,premium unleaded (required),335.0,6.0,2.0,"Factory Tuner,Luxury,High-Performance"
1,premium unleaded (required),300.0,6.0,2.0,"Luxury,Performance"
2,premium unleaded (required),300.0,6.0,2.0,"Luxury,High-Performance"
3,premium unleaded (required),230.0,6.0,2.0,"Luxury,Performance"
4,premium unleaded (required),230.0,6.0,2.0,Luxury
...,...,...,...,...,...
11909,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury"
11910,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury"
11911,premium unleaded (required),300.0,6.0,4.0,"Crossover,Hatchback,Luxury"
11912,premium unleaded (recommended),300.0,6.0,4.0,"Crossover,Hatchback,Luxury"
11913,regular unleaded,221.0,6.0,4.0,Luxury

In [17]:
df['Engine Cylinders'].median()

6.0

In [23]:
df['Engine Cylinders'].fillna(method = 'ffill', inplace = True)

In [25]:
df.loc[:, df.isna().any()]
##no more na in engine cylinders

,Engine Fuel Type,Engine HP,Number of Doors,Market Category
0,premium unleaded (required),335.0,2.0,"Factory Tuner,Luxury,High-Performance"
1,premium unleaded (required),300.0,2.0,"Luxury,Performance"
2,premium unleaded (required),300.0,2.0,"Luxury,High-Performance"
3,premium unleaded (required),230.0,2.0,"Luxury,Performance"
4,premium unleaded (required),230.0,2.0,Luxury
...,...,...,...,...
11909,premium unleaded (required),300.0,4.0,"Crossover,Hatchback,Luxury"
11910,premium unleaded (required),300.0,4.0,"Crossover,Hatchback,Luxury"
11911,premium unleaded (required),300.0,4.0,"Crossover,Hatchback,Luxury"
11912,premium unleaded (recommended),300.0,4.0,"Crossover,Hatchback,Luxury"
11913,regular unleaded,221.0,4.0,Luxury

In [26]:
df['Engine Cylinders'].median()

6.0